.card {
  --row: 0;
  --col: 0;

  --borderWidth: 2px;

  width: calc(var(--cardWidth) + var(--borderWidth) * 2);
  height: calc(var(--cardHeight) + var(--borderWidth) * 2);

  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.75s;
  transform: translate(
    calc((var(--cardWidth) + var(--gap)) * var(--col)),
    calc((var(--cardHeight) + var(--gap)) * var(--row))
  );
}

.card:focus {
  outline: none;
}

.card:focus-visible::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: var(--borderWidth) solid blue;
  border-radius: 1.5rem;
}

.face {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.75s;

  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--borderWidth) solid black;
  border-radius: 1rem;
  width: var(--cardWidth);
  height: var(--cardHeight);
}

.front {
  transform: rotate3d(0, 1, 0, 180deg);
  background: linear-gradient(
    45deg,
    rgba(205, 130, 255, 1) 0%,
    rgba(255, 105, 105, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 4rem;
}

.back {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.faceup.back {
  transform: rotate3d(0, 1, 0, 180deg);
}

.faceup.front {
  transform: rotate3d(0, 1, 0, 0deg);
}
