.grid {
  display: inline-block;
  height: calc((var(--cardHeight) + var(--gap)) * (var(--nRows) + 1));
  width: calc((var(--cardWidth) + var(--gap)) * var(--nCols));
  margin: 24px;
  position: relative;
}

.helpText {
  height: calc(var(--cardHeight) + var(--borderWidth) * 2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}
